---
import { Image } from "astro:assets";
import profileImage from "@assets/profile.jpg";
import Timeline from "@components/Timeline.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const pageTitle = "About";
const timelineItems = [
  {
    period: "April 2023",
    title: "",
    description:
      "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
  },
  {
    period: "April 2021",
    title: "Frontend Development",
    description:
      "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
  },
  {
    period: "April 2017",
    title: "Frontend Development",
    description:
      "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
  },
];
---

<BaseLayout title={pageTitle}>
  <div class="items-start space-y-2">
    <div class="flex flex-col items-center space-x-2 pt-8">
      <Image
        src={profileImage}
        class="h-48 w-48 rounded-full"
        alt="自分のアイコン"
      />
      <h3
        class="pb-2 pt-4 text-2xl font-bold leading-8 tracking-tight text-slate-200"
      >
        Kondo Shun
      </h3>
      <span class="text-slate-400">Web Frontend Developer</span>
      <div class="flex space-x-3 pt-6">
        <a
          href="https://twitter.com/kondo0602_t"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="simple-icons:twitter" class="text-white" size={24} />
        </a>
        <a
          href="https://zenn.dev/kondo0602"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="simple-icons:zenn" class="text-white" size={24} />
        </a>
        <a
          href="https://github.com/kondo0602"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="simple-icons:github" class="text-white" size={24} />
        </a>
      </div>
    </div>
    <div class="prose max-w-none pb-8 pt-8">
      <Timeline items={timelineItems} />
    </div>
  </div>
</BaseLayout>
