---
import clsx from "clsx";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<header
  class={clsx(
    "sticky top-0",
    "flex h-16 justify-between py-4 pl-4 pr-8",
    "backdrop-blur-lg",
  )}
>
  <div class="flex items-center gap-2">
    <a href="/">
      <span class="text-primary">Kondo Shun</span>
    </a>
    <span class="text-secondary">/</span>
    <span class="text-primary">{title}</span>
  </div>
  <nav class="hidden items-center justify-between sm:flex">
    <div class="flex gap-4">
      <a href="/">
        <span
          class={clsx(
            "/" === Astro.url.pathname && "text-primary",
            "/" !== Astro.url.pathname && "text-secondary",
          )}
        >
          Posts
        </span>
      </a>
      <a href="/tags">
        <span
          class={clsx(
            "/tags" === Astro.url.pathname && "text-primary",
            "/tags" !== Astro.url.pathname && "text-secondary",
          )}
        >
          Tags
        </span>
      </a>
      <a href="/about">
        <span
          class={clsx(
            "/about" === Astro.url.pathname && "text-primary",
            "/about" !== Astro.url.pathname && "text-secondary",
          )}
        >
          About
        </span>
      </a>
    </div>
  </nav>
</header>
