---
const { title } = Astro.props;
---

<header
  class="flex h-16 py-4 pl-4 pr-8 justify-between sticky top-0 backdrop-blur-lg"
>
  <div class="flex items-center gap-2">
    <span class="text-primary">Kondo Shun</span>
    <span class="text-secondary">/</span>
    <span class="text-primary">{title}</span>
    <svg
      class="text-primary sm:hidden"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke="currentColor"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6 9L12 15L18 9" stroke-linecap="round" stroke-linejoin="round">
      </path>
    </svg>
  </div>
  <nav class="hidden items-center justify-between sm:flex">
    <div class="flex gap-4">
      <a href="/blog">
        <span class="text-primary">Blog</span>
      </a>
      <a href="/tags">
        <span class="text-primary">Tags</span>
      </a>
      <a href="/works">
        <span class="text-primary">Works</span>
      </a>
      <a href="/about">
        <span class="text-primary">About Me</span>
      </a>
    </div>
  </nav>
</header>
