---
import { ViewTransitions } from "astro:transitions";
import Header from "@components/Header.astro";
import clsx from "clsx";

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | Kondo Shun</title>
    <ViewTransitions />
  </head>
  <body class="bg-backgroundBase">
    <Header title={title} />
    <section class="mx-auto max-w-3xl px-4">
      <div class={clsx(["py-4"], ["border-b", "border-secondary"])}>
        <h1 class={clsx("text-3xl font-bold leading-8 text-primary")}>
          {title}
        </h1>
      </div>
      <article class="py-8">
        <slot />
      </article>
    </section>
  </body>
</html>
