---
import MyLayout from "@layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<MyLayout title={frontmatter.title}>
  <div class="prose prose-invert">
    <slot />
  </div>
</MyLayout>
